body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.item{
  margin: 10px 10px;
  padding: 0.5rem 1.5rem;
  background-color: bisque;
}
.form{
  margin: 10px auto;
  padding: 5px 5px;
  border-radius: 3px;
}
.form input{
  margin: 10px auto;
  padding: 5px 5px;
  border: 2px solid black;

}
h1{
  font-family: cursive;
  /* font-style: oblique; */
}
textarea{
  margin: 10px 10px;
  padding: 5px 5px;
 /* height: 25px; */
 width: 1200px;
 border: none;
 border: 2px solid black;
 font-family: cursive;
 /* margin-left: 125px; */
 /* display: inline-block; */
}
label{
  margin: 2px 5px;
  padding: 10px;
}

.btn{
  background-color: rgb(68, 157, 247);
  margin: 5px 5px;
  padding: 10px 10px;
  border-radius: 10px;
  border-color: rgb(68, 157, 247);
}
